@import url(/fonts/BINGGRAE.TTF);
@import url(/fonts/BINGGRAE-BOLD.TTF);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Poppins&display=swap');

@font-face {
    src: url("../fonts/BINGGRAE.TTF");
    font-family: "Binggrae";
    font-weight: normal;
    font-style: normal;
}
@font-face {    
	font-family: 'Binggrae-Bold';
    src: url("../fonts/BINGGRAE-BOLD.TTF") format('woff');
    /* src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Binggrae-Bold.woff2') format('woff2'); */
    font-weight: normal;
    font-style: normal;
}
/* ** 폰트 ** */
.en{
	font-family: 'Poppins', sans-serif;
	/* font-family: 'Noto Sans KR', sans-serif; */
	letter-spacing: normal !important;
	/* font-weight: 300; */
}
.ko{
	font-family: 'Noto Sans KR', sans-serif;
}

#Binggrae_font {
    font-family: "Binggrae";
}

* {
    text-decoration: none;
}

.wrap {
    position: relative;
    display: flex;
}

.wrap header .header-top{
    
}

.wrap header .header-top ul {
    
    border-bottom: 6px solid #999;
    
    margin: 3px 40px 0;
    font-size: 20px;
    /* background: tomato; */
    border-bottom: #999;

    position: absolute;
    right: 10px;
    display: flex;
}

.wrap header .header-top ul li {
    margin-right: 20px;
}

.wrap header .header-top ul li img {
    height: 20px;
    margin-left: 5px;

}

.wrap header .header-container h1 {
    padding: 0px;
    margin-left: 9px;
    height: 43px;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    flex-wrap: nowrap;
}

.wrap header .header-container h1 img {
    width: 210px;
    margin: 50px 10px 0;
}

.wrap header .header-scontainer {
    position: absolute;
    top: 72px;
    left: 37em;
    background: tomato;
    width: 44rem;
    display: flex;
}



